[Unit]
Description=HCP Monitor poller (PHP)
After=network.target mysqld.service

[Service]
User=www
WorkingDirectory=/www/wwwroot/monitoring.static.uz
ExecStart=/usr/bin/php /www/wwwroot/monitoring.static.uz/poller.php
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
